<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coderhome.dao.BlogContentTabMapper" >
  <resultMap id="BaseResultMap" type="com.coderhome.model.BlogContentTab" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="contentid" property="contentid" jdbcType="INTEGER" />
    <result column="tabname" property="tabname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, contentid, tabname
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from blog_content_tab
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from blog_content_tab
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.coderhome.model.BlogContentTab" >
    insert into blog_content_tab (id, contentid, tabname
      )
    values (#{id,jdbcType=INTEGER}, #{contentid,jdbcType=INTEGER}, #{tabname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.coderhome.model.BlogContentTab" >
    insert into blog_content_tab
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="contentid != null" >
        contentid,
      </if>
      <if test="tabname != null" >
        tabname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="contentid != null" >
        #{contentid,jdbcType=INTEGER},
      </if>
      <if test="tabname != null" >
        #{tabname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.coderhome.model.BlogContentTab" >
    update blog_content_tab
    <set >
      <if test="contentid != null" >
        contentid = #{contentid,jdbcType=INTEGER},
      </if>
      <if test="tabname != null" >
        tabname = #{tabname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.coderhome.model.BlogContentTab" >
    update blog_content_tab
    set contentid = #{contentid,jdbcType=INTEGER},
      tabname = #{tabname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>